.comment {
  border-radius: 8px;
  color: #630000;
  width: 500px;
}
.comment-comment {
  background-color: #FFFED6;
  border-color: #9AA9FC;
  border-width: 1px;
  border-style: solid;
}
.comment-logwork {
  background-color: #FFA1A1;
}
.comment-bottom {
  padding: 5px;
  text-align: right;
  font-size: 7pt;
}
.comment-bottom-span {
  font-weight: bold;
  border-radius: 6px;
  padding: 2px 4px;
}
.comment-bottom-span-comment {
  background-color: #FFA1A1;
  color: #FFFED6;
}
.comment-bottom-span-logwork {
  background-color: #FFE3E3;
  color: #FFA1A1;
}
.comment-top-start_d {
  padding: 3px 3px 3px 10px;
  text-align: center;
  width: 150px;
}
.comment-top-start_t {
  border-left: 1px solid rgb(255, 0, 0);
  font-size: 9pt;
  padding: 3px 3px 3px 10px;
  text-align: center;
  width: 100px;
}
.comment-top-min {
  border-left: 1px solid rgb(255, 0, 0);
  font-size: 9pt;
  padding: 0px 15px;
  text-align: left;
}
.task {
  border: 1px solid;
  padding: 10px 10px 10px 30px;
  color: #FFFFFF;
  width: 200px;
}
.task_field {
  width: 200px;
  height: 40px;
}
.task_p {
  background-color: #6666FF;
}
.task_t {
  background-color: #9aa9fc;
}
.task_btn {
  color: #FFFFFF;
  font-family: Verdana;
}
.task_btn_p {
  font-size: 16pt;
  font-weight: bold;
}
.task_btn_t {
  font-size: 11pt;
  font-weight: bold;
}
.task_btn_s {
  font-size: 8pt;
}
.task_btn:hover {
  color: #66FFFF;
}
