.task {
  border: 1px solid;
  padding: 10px 10px 10px 30px;
  color: #FFFFFF;
  width: 200px;
}
.task_field {
  width: 200px;
  height: 40px;
}
.task_p {
  background-color: #6666FF;
}
.task_t {
  background-color: #9aa9fc;
}
.task_btn {
  color: #FFFFFF;
  font-family: Verdana;
}
.task_btn_p {
  font-size: 16pt;
  font-weight: bold;
}
.task_btn_t {
  font-size: 11pt;
  font-weight: bold;
}
.task_btn_s {
  font-size: 8pt;
}
.task_btn:hover {
  color: #66FFFF;
}
